html{
    font-size: 62.5%;
}
#titulo{
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    font-family: Lucida Handwriting, cursive;
    font-size: 6em;
    font-style: oblique;
    color:olivedrab;
    margin: 0;
    padding: 0.4em;
}
#link{
    text-decoration: none;
    font-style: italic;
    color: #657153;
}
.titulos2{
    padding-left: 1.1em;
    font-size: 3.08em;
    font-weight: 10000;
    color:forestgreen;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.titulos3{
    color: green;
    font-family: 'Courier New', Courier, monospace;

}
.textolista{
    font-family: 'Courier New', Courier, monospace;
}
.textolista2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.imagemInfo{
    float: left;
    width: 4.4vw;
    margin-right: 0.8em;
}
hr{
    color: greenyellow;
}
li{
    font-size: 1.84em;
    color:#313715;
}
body{
    background-image: url(../css/imagens/imagens/sapo_background.avif);
    
    background-size: 10%;
    background-attachment: fixed;
    background-position: right bottom;
    background-blend-mode:lighten;
    
}
.cabecalho{
    height: 17vh;
    width: 50vw;
    margin: auto;
    background-size: cover;
    background-position: right center;
    border-radius: 3em;
    background-color: #F5E6C8;
    border-bottom: 2px solid #66BB6A;

}

.cabecalho nav ul{
    margin: auto;
    text-align: center;
}
.cabecalho nav li{
    display: inline-block;
    list-style-type: none;
    margin-left: 1.6em;
}
.cabecalho nav a{
    background-color: rgb(102, 187, 106, .3);
    border-radius: 1em;
    padding: 1em;
    display: block;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.7em;
    letter-spacing: 0.2em;
}
.lista{
    list-style-position: inside;
}
.flexbox{
    height: 40vh;
    
    margin-bottom: 2em;
    display: flex;
}
.flex-container{
    flex-wrap: wrap;
    flex-direction: row;
}
.caixa{
    background-color: #E8F5E9;
    width: 27vw;
    border-radius: 0.8em;
    padding: 1.6em;
    margin: 1em 2em;
    
}
.caixa h2{
    border-bottom: 2px solid #66BB6A;
    background-color: #F5E6C8;
    padding: 1em 0;
    margin-top: auto;
}
.caixa ul ul{
    background-color: #F5E6C8;
    padding: 1em 2em;
    margin-left: 5em;
    width: 10vw;
    border-radius: 1em;
}
